<div id="top">
    <a id="back-link" [routerLink]="['/']">&lt;&lt; back to the overview</a>
    <app-edit-bar-buttons [userAuthenticated]="userAuthenticated" [edit]="edit" [allowSaving]="currentErrors.size === 0" [deleteBtnText]="'Delete Incident'"></app-edit-bar-buttons>
</div>
<app-error-box [errors]="currentErrors"></app-error-box>
<h1 *ngIf="edit.view">
    <span class="incident-status">{{ util.phaseName(incident.phase?.order) }}</span> {{ incident.displayName }}
</h1>
<div *ngIf="edit.editing">
    <select>
        <option *ngFor="let phase of data.phaseGenerations.phases" value="{{ incident.phase?.order }}">{{ phase }}</option>
    </select>
    <input type="text" [(ngModel)]="incident.displayName" (change)="runChecks()">
</div>
<div id="incident-dates">
    <div *ngIf="edit.view">
        <span class="faint">{{ df(incident.beganAt) }}</span>
        <span class="faint" *ngIf="incident.endedAt"> → {{ df(incident.endedAt) }}</span>
    </div>
    <div *ngIf="edit.editing">
        <input type="datetime-local" [(ngModel)]="startDate" (change)="runChecks()">
        <input type="datetime-local" [(ngModel)]="endDate"  [min]="startDate" (change)="runChecks()"><span></span>
        <button class="inline-button discard" type="button" [disabled]="endDate === ''" (click)="resetEndDate()"><fa-icon [icon]="ip.discardChanges"></fa-icon><span>Remove End Date</span></button>
    </div>
</div>
<div id="description">
    <h2>Description</h2>
    <p *ngIf="edit.view">
        {{ incident.description }}
    </p>
    <textarea 
        *ngIf="edit.editing"
        rows="6" 
        #incidentDescription 
        id="incidentDescription" 
        name="incidentDescription"
        (keydown.enter)="$event.stopPropagation()"
        [(ngModel)]="incident.description"
        (change)="runChecks()">
    </textarea>
</div>
<div id="affects" *ngIf="(incident.affects?.length ?? 0) > 0">
    <h2 style="display:inline-block">Affected components</h2>
    <button *ngIf="edit.editing" class="inline-button"><fa-icon [icon]="ip.newElement"></fa-icon></button>
    <ul>
        <li *ngFor="let impact of incident.affects?.concat(impactsToAdd)">
            <span [class.struck]="impactsToDelete.has(impact.reference ?? '')">{{ componentName(impact) }}</span>
            <span class="faint"> | Severity: {{ impactSeverity(impact) }}</span>
            <span class="faint"> | Category: {{ impactType(impact) }}</span>
            <span *ngIf="edit.editing">
                <button class="inline-button" type="button">
                    <fa-icon [icon]="ip.edit"></fa-icon>
                </button>
                <button class="inline-button dangerous" type="button" (click)="markImpactForDeletion(impact.reference)" *ngIf="!impactsToDelete.has(impact.reference ?? '')" title="Delete this impact">
                    <fa-icon [icon]="ip.delete"></fa-icon>
                </button>
                <button class="inline-button discard" type="button" (click)="unmarkImpactForDeletion(impact.reference)" *ngIf="impactsToDelete.has(impact.reference ?? '')" title="Cancel pending deletion">
                    <fa-icon [icon]="ip.discardChanges"></fa-icon>
                </button>
                <span *ngIf="impactsToDelete.has(impact.reference ?? '')">Pending Deletion</span>
                <span *ngIf="pendingImpacts.has(impact.reference ?? '')">Pending Save</span>
            </span>
        </li>
    </ul>
</div>
<div id="updates" *ngIf="incidentUpdates.length > 0">
    <h2 style="display:inline-block">Updates</h2>
    <button *ngIf="edit.editing" class="inline-button"><fa-icon [icon]="ip.newElement"></fa-icon></button>
    <div *ngFor="let update of incidentUpdates.concat(updatesToAdd) | reverse">
        <h3 [class.struck]="updatesToDelete.has(update.order)">{{ update.displayName }}</h3><span class="faint"> - {{ dfl(update.createdAt) }}</span>
        <span *ngIf="edit.editing">
            <button class="inline-button" type="button">
                <fa-icon [icon]="ip.edit"></fa-icon>
            </button>
            <button class="inline-button dangerous" type="button" (click)="markUpdateForDeletion(update.order)" *ngIf="!updatesToDelete.has(update.order)" title="Delete this update">
                <fa-icon [icon]="ip.delete"></fa-icon>
            </button>
            <button class="inline-button discard" type="button" (click)="unmarkUpdateForDeletion(update.order)" *ngIf="updatesToDelete.has(update.order)" title="Cancel pending deletion">
                <fa-icon [icon]="ip.discardChanges"></fa-icon>
            </button>
            <span *ngIf="updatesToDelete.has(update.order)">Pending Deletion</span>
        </span>
        <p>
            {{ update.description }}
        </p>
    </div>
</div>
<div *ngIf="incidentUpdates.length === 0">
    <p>Incident updates are empty?</p>
</div>