header {
    width: 100%;
    padding: 5px 0 5px 0;
    background-color: var(--main-bg-color);
    margin-top: 1rem;
}

header div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .75rem;
}

header div:last-of-type {
    margin-bottom: 0;
}

header input {
    margin-left: 1rem;
}
