footer {
    margin-top: 1rem;
    border-top: 1px var(--line-color) solid;
    width: 100%;
}

footer span {
    margin: .75rem .5rem;
    display: inline-block;
}

footer span:last-child {
    float:right;
}

footer span a {
    margin: .5rem 1.5rem;
}

footer span a:first-of-type {
    margin-left: 0;
}

footer span a:last-of-type {
    margin-right: 0;
}
