<footer>
    <div *ngIf="userSettings.showUserSettings" id="accessibility-options">
        <h5>Accessibility options:</h5>
        <input id="colorBlindMode" type="checkbox" onclick="switchColorMode()" /><label for="colorBlindMode">Colors for colorblind</label>
        <input id="increasedTextSizeMode" type="checkbox" onclick="switchTextSize()" /><label for="increasedTextSizeMode">Increased text size</label>
    </div>
    <div id="other-links">
        <a href="/imprint">Imprint</a>
        <a href="/cookies">Cookie Policy</a>
    </div>
</footer>