<dialog #editUpdateDialog id="edit-update-dialog">
    <h1>Add Incident Update</h1>

    <app-error-box [errors]="currentErrors"></app-error-box>

    <div class="dialog-grid">
        <label for="inputUpdateName">Display Name</label>
        <input type="text" id="inputUpdateName"
            [(ngModel)]="update.displayName" (change)="runChecks()">
        <label for="inputUpdateDescription">Description</label>
        <textarea rows="4" id="inputUpdateDescription"
            (keydown.enter)="$event.stopPropagation()"
            [(ngModel)]="update.description"
            (change)="runChecks()"
        ></textarea>
        <label for="inputUpdateCreatedAt">Created At</label>
        <input type="datetime-local" [(ngModel)]="createdAt" (change)="runChecks()">
    </div>

    <div class="dialog-controls">
        <button
            type="button"
            (click)="finishDialog()"
            [disabled]="!allowSave"
        >
            <fa-icon [icon]="icons.saveChanges"></fa-icon><span>Add Update</span>
        </button>
        <button
            type="button"
            (click)="cancelDialog()"
            class="discard"
        >
            <fa-icon [icon]="icons.discardChanges"></fa-icon><span>Cancel</span>
        </button>
    </div>
</dialog>
