<footer>
    <div id="other-links">
        <a [routerLink]="['imprint']">Imprint</a>
        <a [routerLink]="['cookies']">Cookie Policy</a>
    </div>
    <div id="admin-section">
        <a class="auth-link" tabindex="0" (click)="login()" (keypress)="handleKeyPress($event)" *ngIf="!authenticated().isAuthenticated">Login</a>
        <span id="user-info" *ngIf="authenticated().isAuthenticated">Logged in as {{ userData().userData ? userData().userData.name : "unknown" }}</span>
        <a [routerLink]="['manage']" *ngIf="!config.hideManagementPage && authenticated().isAuthenticated">Manage Incidents</a>
    </div>
</footer>
