h2 {
    font-size: 1.25rem;
    margin: 1.5rem 0rem .25rem 0rem;
}

h3 {
    font-size: 1rem;
    margin: 1rem 0rem .25rem 0rem;
    display: inline-block;
}

#affects ul {
    margin: .25rem 0rem;
    list-style-type: square;
}

#affects ul li::marker {
    color: var(--btn-color);
}

#updates div {
    margin: .75rem;
}

#updates div p {
    margin: 0.25rem 0;
}

.incident-status {
    background-color: var(--btn-color);
    color: var(--main-bg-color);
    margin: 1rem .5rem 1rem 0rem;
    padding: .25rem .5rem;
    border-radius: var(--bar-border-radius);
    font-weight: bold;
}

.faint {
    color: var(--faint-text-color);
}