<app-header>
</app-header>

<main>
  <section class="about" *ngIf="showAboutSection">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="spinner-container" *ngIf="!loaded">
    <app-spinner>Loading Data...</app-spinner>
    <p>Loading Data</p>
  </section>
  <router-outlet *ngIf="loaded"></router-outlet>
</main>

<app-footer></app-footer>