@property --page-width {
    syntax: "<dimension>";
    inherits: true;
    initial-value: 1100px;
}

@property --default-text-size {
    syntax: "<length>";
    inherits: true;
    initial-value: 1em;
}

@property --increased-text-size {
    syntax: "<length>";
    inherits: true;
    initial-value: 2em;
}

@property --list-border-radius {
    syntax: "<dimension>";
    inherits: true;
    initial-value: 6px;
}

@property --btn-border-radius {
    syntax: "<dimension>";
    inherits: true;
    initial-value: 6px;
}

@property --bar-border-radius {
    syntax: "<dimension>";
    inherits: true;
    initial-value: 6px;
}

@property --main-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #fff;
}

@property --main-text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #68717a;
}

@property --title-text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #000000;
}

@property --faint-text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #9e9e9e;
}

@property --btn-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #0f5fe1;
}

@property --fine-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #50c3a5;
}

@property --limited-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #f5c451;
}

@property --broken-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ee6a5f;
}

@property --maintenance-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #0089c4;
}

@property --unknown-color {
    syntax: "<color>";
    inherits: false;
    initial-value: lightsteelblue;
}

@property --border-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #e9ecef;
}

@property --link-color {
    syntax: "<color>";
    inherits: false;
    initial-value: 	#0089c4;
}

@property --line-color {
    syntax: "<color>";
    inherits: false;
    initial-value: 	#9e9e9e;
}

:root {
    --page-width: 1100px;
    --default-text-size: 1em;
    --increased-text-size: 2em;
    --list-border-radius: 6px;
    --btn-border-radius: 6px;
    --bar-border-radius: 6px;
    --main-bg-color: #fff;
    --main-text-color: #68717a;
    --title-text-color: #000000;
    --faint-text-color: #9e9e9e;
    --btn-color: #0f5fe1;
    --fine-color: #50c3a5;
    --limited-color: #f5c451;
    --broken-color: #ee6a5f;
    --maintenance-color: #0089c4;
    --unknown-color: lightsteelblue;
    --border-color: #e9ecef;
    --link-color: 	#0089c4;
    --line-color: #9e9e9e;
}

body {
    font-family: Lato, sans-serif;
    font-size: var(--default-text-size);
    background-color: var(--main-bg-color);
    max-width: var(--page-width);
    min-width: var(--page-width);
    color: var(--main-text-color);
    margin: 0 auto;
}

h1, h2, h3, h4 {
    color: var(--title-text-color);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.0rem;
}

h4 {
    font-size: 1.0rem;
}

h5 {
    font-size: 1.0rem;
    display: inline;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 1.0rem;
    display: inline;
    margin: 0;
    padding: 0;
}

hr {
    color: var(--line-color);
    border-width: 1px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    background-color: var(--main-bg-color);
    margin-top: 1rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px var(--line-color) solid;
    width: 100%;   
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .2rem;
    margin-bottom: 0.5rem;
}

footer div a:first-child {
    margin-left: 0;
}

footer div a {
    margin-left: 2rem;
}

footer div input:first-of-type {
    margin-left: .5rem;
}

footer div input {
    margin-left: 2rem;
}

.subscribe-btn {
    border: 1px var(--btn-color) solid;
    border-radius: var(--btn-border-radius);
    padding: .5em .75em;
    color: var(--btn-color);
    font-weight: bold;
    font-size: 1.0rem;
    background-color: var(--main-bg-color);
}

.subscribe-btn:hover {
    background-color: var(--btn-color);
    color: var(--main-bg-color);
    cursor: pointer;
}

.status-bar {
    background-color: var(--btn-color);
    color: var(--main-bg-color);
    margin: 1rem 0rem;
    padding: .75rem;
    border-radius: var(--bar-border-radius);
    font-weight: bold;
    font-size: .8rem;
}

.status-bar h1 {
    color: var(--main-bg-color);
    margin-top: 0;
}

.status-bar h2 {
    color: var(--main-bg-color);
    margin-top: 0;
}

.status-bar h3 {
    color: var(--main-bg-color);
    margin-top: 0;
}

.status-bar h4 {
    color: var(--main-bg-color);
    margin-top: 0;
    margin-bottom: .5rem;
}

.status-fine {
    background-color: var(--fine-color) !important;
}

.status-limited {
    background-color: var(--limited-color) !important;
}

.status-broken {
    background-color: var(--broken-color) !important;
}

.status-maintenance {
    background-color: var(--maintenance-color) !important;
}

.status-unknown {
    background-color: var(--unknown-color) !important;
}

.text-fine {
    color: var(--fine-color);
}

.text-limited {
    color: var(--limited-color);
}

.text-broken {
    color: var(--broken-color);
}

.text-maintenance {
    color: var(--maintenance-color);
}

.text-unknown {
    color: var(--unknown-color);
}

.about {
    padding: .25rem .5rem;
}

.api-list-entry {
    border-left: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-top: 1px var(--border-color) solid;
    padding: .5rem 1rem;
}

.api-list-entry:first-of-type {
    border-top-left-radius: var(--list-border-radius);
    border-top-right-radius: var(--list-border-radius);
}

.api-list-entry:last-of-type {
    border-bottom: 1px var(--border-color) solid;
    border-bottom-left-radius: var(--list-border-radius);
    border-bottom-right-radius: var(--list-border-radius);
}

.api-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.api-titlebar h4 {
    margin: .5rem 0 .75rem;
}

.api-titlebar .status-bar {
    margin: 0;
    height: 1rem;
    padding: .25rem .75rem;
    align-self: center;
}

.api-daily-status {
    margin: .0 0 .5rem;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.day-status-box {
    display: inline-block;
    width: .75%;
    height: 1.25rem;
    margin: 0 2px;
    position: relative;
}

.day-status-box a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.api-textbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--faint-text-color);
    font-size: .75rem;
}

.api-table-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    align-items: center;
    margin-top: 2rem;
}

.api-table-title h4 {
    font-size: 1.25rem;
}

.api-table-title .status-bar {
    font-size: 1rem;
}

#api-table article {
    margin: 1rem;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--line-color);
}

table.api-table {
    width: 100%;
}

td, th {
    border: 1px solid var(--line-color);
    padding: 0.5rem;
}

.api-table .status-bar {
    margin: 0;
    height: 1rem;
    padding: .25rem .75rem;
    align-self: center;
    font-size: .9rem;
}

.tooltip-wrap {
    position: absolute;
    width:100%;
    height: 100%;
}

.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 120%;
    left: -150%;
    background-color: var(--main-bg-color);
    padding: .5rem;
    min-width: 15rem;
    border: 1px var(--line-color) solid;
    border-radius: var(--bar-border-radius);
}

.tooltip-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
}

.tooltip-title span {
    margin-top: .25rem;
}

.tooltip-title .status-bar {
    margin: 0;
    height: 1rem;
    padding: .25rem .75rem;
    align-self: center;
}

.day-status-box:hover .tooltip-content {
    display: block;
}

.incident-log {
    padding: .25rem .5rem;
}

.incident-log section h2 {
    margin-top: 5rem;
    border-bottom: 1px var(--border-color) solid;
}

.incident-log section:first-of-type h2 {
    margin-top: 2rem;
}

.incident-log section h3 {
    border-bottom: 1px var(--border-color) solid;
    padding-bottom: .25rem;
    margin-bottom: .25rem;
}

.incident {
    margin-left: .5rem;
}
.incident .incident-start-date {
    color: var(--faint-text-color);
    font-size: 0.75rem;
    margin-top: -1.25rem;
}

.incident-status {
    color: var(--main-bg-color);
    margin-right: .75rem;
    padding: .25rem;
    border-radius: var(--bar-border-radius);
    font-weight: bold;
    font-size: .8rem;
}

.incident-update {

}

.incident-update-content {
    margin-bottom: 0.25rem;
}

.incident-update-time {
    color: var(--faint-text-color);
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.incident-page-title {
    background-color: var(--unknown-color);
    color: var(--main-bg-color);
    margin: 1rem 0rem;
    padding: .75rem;
    border-radius: var(--bar-border-radius);
    font-weight: bold;
}

.hidden {
    display: none;
}
